<ion-header no-border>

  <ion-toolbar>
    <ion-title> Home</ion-title>
  </ion-toolbar>
    <ion-toolbar >
        <ion-tabs >

            <ion-tab-bar>
                <ion-tab-button >
                  <ion-icon name="calendar"></ion-icon>
                  <ion-label>display-posts</ion-label>
                </ion-tab-button>
            
                <ion-tab-button >
                  <ion-icon name="contacts"></ion-icon>
                  <ion-label>upload-post</ion-label>
                </ion-tab-button>
            
              </ion-tab-bar>
    
          </ion-tabs>
  </ion-toolbar>
</ion-header>

<ion-content>
<title>Categories</title>
  <ion-grid>

    <ion-row>
      <ion-col size="6">

        <ion-card no-border routerLink="/upload-post" class="increase">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlFGqX26DsqpKiTPd7QXSo4Qb8VA8MZPAcJ4OoX9jKJMA94BKx" />

          <ion-card-content>
            <p style="font-size: 20px">
              Construction Labour
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card no-border  class="increase">
          <img
            src="https://media.istockphoto.com/photos/carpenter-taking-measurement-picture-id481628382?k=6&m=481628382&s=612x612&w=0&h=Tji_m9wvSWAU_CtO3JPHmGNcIwgEkKA-A4z53TjjGNI=" />
          <ion-card-content>
            <p style="font-size: 20px">
              Skilled carpenter
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size="6">

        <ion-card no-border class="increase">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJjOexV3BWXzqM1Sb4KIvG7PmrWKjJ9SIiOYW0Y37n3p2f5ChwlA" />

          <ion-card-content>
            <p style="font-size: 20px">
              Experienced Electrician
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card no-border class="increase">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwBMaiHQ0Lr1QpVDnNPVAysEOQYhJFQnnNLMew6-TNGnDCC4MPAQ" />
          <ion-card-content>
            <p style="font-size: 20px">
              Affordable plumbing
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size="6">

        <ion-card no-border class="increase">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzUY0bHnli54lGgyPq87zN7O2UbbqFUlpXFYFidCzDxNWnDER1Kw" />

          <ion-card-content>
            <p style="font-size: 20px">
              Effective Welding
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card no-border class="increase">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROY-gp0dbZNnqurggqn6xvZqMF9FgrUBs4pD4df9NBvno1TyZF" />
          <ion-card-content>
            <p style="font-size: 20px">
              Glorious Cook
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size="6">

        <ion-card no-border class="increase">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWchUEj0WqxWgNHxarNXoWc97_Im62qLltKqvPO4wmVZEGBMI0" />

          <ion-card-content>
            <p style="font-size: 20px">
              Viechle Mechanics
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card no-border class="increase">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvXrVzw_UPwtIhuwuszuDGaVeib9OHXtWZrJ9y-OEN9HZf6RXl" />
          <ion-card-content>
            <p style="font-size: 20px">
              Experienced Drivers
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>
