<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Post Work</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="">

  <div class="center">
    
    <input type="file" *ngIf="!imageURL" (change)="fileChanged($event)" class="filebbtn" #filebtn />

    <ion-button shape="round" color="primary" (click)="uploadFile()" *ngIf="!imageURL" fill="outline">Upoload File</ion-button>

    <ion-card *ngIf="imageURL">
      <img src="https://ucarecdn.com/{{imageURL}}/" />
    </ion-card>
  </div>

  <!--Details of Discription starts here -->
  <form [formGroup]="PostForm">
    <ion-grid>
      <ion-row color="justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h3>Include Some Details</h3>
          </div>
          <div class="ion-padding">

            <ion-item>
              <ion-input name="Name" formControlName="ItemName" type="text" placeholder="Item Name"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input name="Model" formControlName="itemModel" type="text" placeholder="Items Model"></ion-input>
            </ion-item>

            <ion-item>
              <ion-textarea rows="2" cols="5" formControlName="itemDiscription" placeholder="Enter any discription...">
              </ion-textarea>
            </ion-item>

          </div>
          <div class="ion-padding">
            <ion-button size="large" [disabled]="PostForm.invalid" (click)="createPost()" color="primary" type="submit"
              expand="block">Post Work
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>